<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Input Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.13/angular-material.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://material.angularjs.org/1.1.13/docs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.13/angular-material.js"></script>
    <script src="main.js"></script>


    <script>
        var app = angular.module('myApp', []);

        app.directive('myDirective', function () {

            return function (scope, element, attrs) {
                element.bind('click', function () { alert('click') });
            };

        });
    </script>

<body>
    <div ng-controller="DemoCtrl" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage" ng-app="MyApp">

        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
            <div>
                <md-input-container>
                    <label>Title</label>
                    <input ng-model="user.title">
                </md-input-container>

                <md-input-container>
                    <label>Email</label>
                    <input ng-model="user.email" type="email">
                </md-input-container>
            </div>
        </md-content>

        <md-content layout-padding="">
            <div>
                <form name="userForm">

                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>Company (Disabled)</label>
                            <input ng-model="user.company" disabled="">
                        </md-input-container>

                        <md-input-container>
                            <label>Enter date</label>
                            <md-datepicker ng-model="user.submissionDate"></md-datepicker>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>First name</label>
                            <input ng-model="user.firstName">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The
                                End</label>
                            <input ng-model="theMax">
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Address</label>
                        <input ng-model="user.address">
                    </md-input-container>

                    <md-input-container md-no-float="" class="md-block">
                        <input ng-model="user.address2" placeholder="Address 2">
                    </md-input-container>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>City</label>
                            <input ng-model="user.city">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>State</label>
                            <md-select ng-model="user.state">
                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Postal Code</label>
                            <input name="postalCode" ng-model="user.postalCode" placeholder="12345" required=""
                                ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                            <div ng-messages="userForm.postalCode.$error" role="alert" multiple="">
                                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                    code.
                                </div>
                                <div ng-message="md-maxlength" class="my-message">
                                    Don't use the long version silly...we don't need to be that specific...
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Biography</label>
                        <textarea ng-model="user.biography" md-maxlength="150" rows="5"
                            md-select-on-focus=""></textarea>
                    </md-input-container>


                </form>
            </div>
        </md-content>

    </div>

    <!--
      Copyright 2018 Google LLC. All Rights Reserved. 
      Use of this source code is governed by an MIT-style license that can be found
      in the LICENSE file at http://material.angularjs.org/HEAD/license.
      -->
</body>

</html>